body {
    font-family: 'Consolas';
    margin: 0;
    overflow: hidden;
}

.game {
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
}

.start-screen {
    text-align: center;
    padding: 30px;
    font-size: 48px;
    width: 500px;
    background-color: lightgreen;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
}

.start-screen:hover {
    background-color: green;
    cursor: pointer;
}

.game-screen {
    width: 100%;
    height: 100%;
    background-color: aqua;
}

.wizard {
    position: absolute;
    background-image: url("/src/images/wizard.png");
    background-size: cover;
}

.bug {
    position: absolute;
    background-image: url("/src/images/bug.png");
    background-size: cover;
}

.fireball {
    position: absolute;
    background-image: url("/src/images/fire-ball.png");
    background-size: cover;
}

.hidden {
    display: none;
}

.score {
    position: absolute;
    top: 10px;
    left: 200px;
}
